extends ../../layouts/default.pug

block main
    if(postCategory.title)
        h1(class="mb-4") #{postCategory.title}

    div(class="mb-4") Danh mục cha:  <b>#{postCategory.parent_id == "" ? "Đang là danh mục lớn nhất" :  postCategory.parent_id}</b>

    if(postCategory.thumbnail)
        div(class="mb-4")
            img(
                src=postCategory.thumbnail 
                style="width:100px"
            )

    if(postCategory.status)
        div(class="mb-4")
            span Trạng thái: 
            if(postCategory.status === "active")
                span(class="badge badge-success") Hoạt động 
            else 
                span(class="badge badge-danger") Dừng hoạt động   
    if(postCategory.description)
       div(class="mb-4") !{postCategory.description}
    if(role.permissions.includes("products-category_edit"))
        a(href=`${prefixAdmin}/posts-category/edit/${postCategory.id}`
                        class="btn btn-warning btn-sm") Chỉnh sửa   

    script(src="/admin/js/product.js")