extends ../../layouts/default.pug

block main
    if(record.title)
        h1(class="mb-4") #{record.title}

    if(record.description)
        div(class="mb-4") Mô tả:  <b>#{record.description}</b>
    
   
    a(href=`${prefixAdmin}/roles/edit/${record.id}`
                    class="btn btn-warning btn-sm") Chỉnh sửa   

    script(src="/admin/js/product.js")