include ./moment.pug
mixin tableCategory(records,level = 1)
    each item in records
        - const prefix = Array(level+1).join("- ")
        tr
            td 
                input(type="checkbox" name="id" value=item.id)
            td #{item.index}
            td 
                img(
                src=item.thumbnail,
                alt=item.title,
                width = "100px",
                height = "auto"
                )
            td #{prefix} #{item.title}
            td 
                input(
                type="number"
                value=item.position 
                style="width:60px"
                min="1"
                name="position"
                )
            td 
                if(role.permissions.includes("products-category_edit"))
                    if(item.status =="active")
                        a(href="javascript:;"
                        button-change-status 
                        data-status=item.status
                        data-id=item.id class="badge badge-success") Hoạt động
                    else 
                        a(href="javascript:;"
                        button-change-status 
                        data-status=item.status
                        data-id=item.id class="badge badge-danger") Dừng hoạt động
                else
                    if(item.status =="active")
                        button( class="badge badge-success") Hoạt động
                    else 
                        button(href="javascript:;"
                        class="badge badge-danger") Dừng hoạt động
            td 
                p #{item.accountFullName}
                if(item.accountFullName)
                    +formatDateTime(item.createdBy.createdAt)
            td 
                -const updatedBy = item.updatedBy.slice(-1)[0];
                if(updatedBy)
                    p #{updatedBy.accountFullName}
                    +formatDateTime(updatedBy.updatedAt)
            td
                a(href=`${prefixAdmin}/products-category/detail/${item.id}`
                    class="btn btn-secondary btn-sm") Chi tiết 
                if(role.permissions.includes("products-category_edit"))
                    a(href=`${prefixAdmin}/products-category/edit/${item.id}`
                    class="btn btn-warning btn-sm") Sửa
                if(role.permissions.includes("products-category_delete"))
                    button(class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=item.id) Xóa
        if(item.children && item.children.length > 0)
            +tableCategory(item.children, level + 1)

mixin tableCategoryPost(records,level = 1)
    each item in records
        - const prefix = Array(level+1).join("- ")
        tr
            td 
                input(type="checkbox" name="id" value=item.id)
            td #{item.index}
            td 
                img(
                src=item.thumbnail,
                alt=item.title,
                width = "100px",
                height = "auto"
                )
            td #{prefix} #{item.title}
            td 
                if(role.permissions.includes("products-category_edit"))
                    if(item.status =="active")
                        a(href="javascript:;"
                        button-change-status 
                        data-status=item.status
                        data-id=item.id class="badge badge-success") Hoạt động
                    else 
                        a(href="javascript:;"
                        button-change-status 
                        data-status=item.status
                        data-id=item.id class="badge badge-danger") Dừng hoạt động
                else
                    if(item.status =="active")
                        button( class="badge badge-success") Hoạt động
                    else 
                        button(href="javascript:;"
                        class="badge badge-danger") Dừng hoạt động
            td 
                p #{item.accountFullName}
                if(item.accountFullName)
                    +formatDateTime(item.createdBy.createdAt)
            td 
                -const updatedBy = item.updatedBy.slice(-1)[0];
                if(updatedBy)
                    p #{updatedBy.accountFullName}
                    +formatDateTime(updatedBy.updatedAt)
            td
                a(href=`${prefixAdmin}/posts-category/detail/${item.id}`
                    class="btn btn-secondary btn-sm") Chi tiết 
                if(role.permissions.includes("products-category_edit"))
                    a(href=`${prefixAdmin}/posts-category/edit/${item.id}`
                    class="btn btn-warning btn-sm") Sửa
                if(role.permissions.includes("products-category_delete"))
                    button(class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=item.id) Xóa
        if(item.children && item.children.length > 0)
            +tableCategoryPost(item.children, level + 1)            
            